@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "ProductSans Regular";
  src: url("./assets/fonts/ProductSans-Regular.ttf");
}

@layer base {
  html {
    font-family:ProductSans Regular;
  }
}

button {
  text-transform: none !important;
}

.app-logo{
  height: 2em;
}