.dashboard-hero{
    background-image: url("../../assets/images/dashboard-hero.png");
    height: 15rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}