.Dashboard {
    .dashboard-hero {
        background-image: url("../../assets/images/dashboard-hero.png");
        height: 15rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }

    @media (max-width: 720px) {
        .dashboard-hero {
            height: 10rem;
            background-image: none;
        }
    }

    .generate img {
        width: 60%;
    }

    // .analytics img{
    //     width:100%;
    // }
    // .quiz img{
    //     width:100%;
    // }

}