.Sidebar{
    // width: 400px;
    margin-left: 10px;
    height: calc(100vh - 20px);
    background-color: grey;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;

    .toggle-sidebar{
        position: absolute;
        right: -10px;
    }

    .logo{
        height: 30px;
        padding-left: 5px;
        display: flex;
        gap: 20px;
        align-items: center;

        p{
            color: white;
            font-size: 25px;
            padding-left: 4px;
        }
    }
    .logo img{
        width: 25px;
        height:30px
    }

    .routes-con{
        height: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .routes{
            margin-top: 20px;
        }

        // .logout{
        //     padding-left: 5px;
            
        // }

        .route-box{
            cursor: pointer;
            margin-bottom: 20px;
            padding: 5px 5px 5px 4px;
            display: flex;
            align-items: center;
            gap: 20px;
            color: black;
            white-space: nowrap;
            border-radius: 5px;

            &:hover{
                background-color: #2C2E37;
            }
        }
    }
}