.quiz-img{
    background-image: url("../../assets/images/quiz.webp");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}